<div class="grid grid-cols-1 gap-x-32 lg:grid-cols-2">
  @for (season of seasons; track $index) {
    <div class="flex-auto">

      <h2>{{'story.season' | translate}} {{ season.ref }}-{{ season.title }}</h2>

      <app-parts-list [data]="season.parts" [seasonRef]="season.ref"></app-parts-list>
    </div>
  }

  @if (storyEvents.length > 0) {
    <div class="flex-auto">

      <h2>{{'story.storyEvents' | translate}}</h2>

      <app-events-list [data]="storyEvents"></app-events-list>
    </div>
  }

  @if (specialEvents.length > 0) {
    <div class="flex-auto">

      <h2>{{'story.specialEvents' | translate}}</h2>

      <app-events-list [data]="specialEvents" [enableSpecial]="true"></app-events-list>
    </div>
  }
</div>
