@if (lang === 'en') {
  <div>
    <p>Welcome to The Grandshelt Archives</p>
    <p>This website's purpose is to preserve the mobile game Final Fantasy Brave Exvius
      after its End of Service took place on the 30th october 2024. All story mode cutscenes,
      earlier story events, summaries and more can be found here. Everything was made by a
      dedicated team of fans to allow you to discover or rediscover the incredibly deep lore
      and captivating story of this game. You can either watch the story videos edited in episodes
      and chapters or read the illustrated summaries of each part when it's available. The design
      was based on both the Room of Recollection (FFBE replay mode) and FFBE Ultimania (only
      available in Japan).</p>
    <p>We hope you have a nice trip… As Knights of Grandshelt !</p>
    <p>The Grandshelt Archives Team</p>
  </div>
}

@if (lang === 'fr') {
  <p>Bienvenue dans les Archives de Grandshelt.</p>
  <p>Ce site est consacré à la préservation du jeu mobile Final Fantasy Brave Exvius, dont les
    serveurs ont définitivement fermé le 30/10/2024. Toutes les scènes du mode histoire, certains
    événements d'histoire, des résumés et plus encore sont consultables ici. Tout a été mis en
    oeuvre par notre équipe de fans pour vous permettre de découvrir ou de redécouvrir l'incroyable
    lore et l'histoire captivante de ce jeu. Vous pourrez soit regarder l'histoire en vidéo découpée
    par chapitres et épisodes soit la parcourir sous forme de résumés détaillés et illustrés. Nous
    avons reproduit une expérience semblable au Livre des Souvenirs (le mode replay du jeu) et
    à l'application FFBE Ultimania, qui n'est sortie qu'au Japon.</p>
  <p>Un roman en français, que nous publierons ici de manière épisodique, est également
    en cours d'écriture...</p>
  <p>Nous vous souhaitons bon voyage… En tant que Chevaliers de Grandshelt!<br /><br /></p>
  <p class="text-right">L'équipe des Archives de Grandshelt</p>
}

<div>{{'home.desc' | translate}}</div>

<ul class="flex gap-2">
  <li><a pButton pRipple [routerLink]="'/story/en'">{{'home.story-en' | translate}}</a></li>
  <li><a pButton pRipple [routerLink]="'/story/fr'">{{'home.story-fr' | translate}}</a></li>
</ul>
