<h2>{{'settings.title' | translate}}</h2>

<div class="grid grid-cols-2">
  <div>{{'settings.uiLang' | translate}}</div>
  <div>
    <p-dropdown
      [options]="langs"
      [(ngModel)]="uiLang"
      (onChange)="onUiLang($event)"
      optionLabel="name"
      optionValue="code" />
    </div>
  <div>{{'settings.videoLang' | translate}}</div>
  <div>
    <p-dropdown
      [options]="langs"
      [(ngModel)]="videoLang"
      (onChange)="onVideoLang($event)"
      optionLabel="name"
      optionValue="code" />
  </div>
</div>
