<app-navbar [ref]="episodeRef"></app-navbar>

<h2>{{episode?.title}} ({{episode?.video?.duration}})</h2>

@if (videoId) {
  <youtube-player [width]="360" [height]="641" [videoId]="videoId"></youtube-player>
}

@if (previousEpisode) {
  <div>
    <a [routerLink]="'/story/episode/'+previousEpisode.ref">
      {{"previous-episode" | translate}}: {{previousEpisode.episode.ref}} - {{previousEpisode.episode.title}}
    </a>
  </div>
}

@if (nextEpisode) {
  <div>
    <a [routerLink]="'/story/episode/'+nextEpisode.ref">
      {{"next-episode" | translate}}: {{nextEpisode.episode.ref}} - {{nextEpisode.episode.title}}
    </a>
  </div>
}
