<app-breadcrumb [ref]="episodeRef" [scope]="scope" [type]="type"></app-breadcrumb>

<h2>{{episode?.title}} ({{episode?.video?.duration}})</h2>

<div class="mb-2">
  @if (videoId) {
    <youtube-player [width]="360" [height]="641" [videoId]="videoId"></youtube-player>
  }
</div>

<div class="flex">
  @if (previousEpisode) {
    <div class="flex-1">
      <a pButton [routerLink]="buildUrl(previousEpisode.ref)">
        {{"previous" | translate}}: {{previousEpisode.episode.ref}} - {{previousEpisode.episode.title}}
      </a>
    </div>
  }

  @if (nextEpisode) {
    <div class="flex-1 text-right">
      <a pButton [routerLink]="buildUrl(nextEpisode.ref)">
        {{"next" | translate}}: {{nextEpisode.episode.ref}} - {{nextEpisode.episode.title}}
      </a>
    </div>
  }
</div>
