<app-breadcrumb [ref]="ref" [scope]="scope" [type]="type"></app-breadcrumb>

<h2>
  @if (isStory()) {
    Chapitre {{ref}}
  }
  @if (isStoryEvent()) {
    {{ref}}. {{part?.title}}
  }
</h2>

<div class="flex flex-col-reverse mb-2 xl:gap-10 xl:flex-row">
  <app-episodes-list class="grow" [data]="episodes" [parentRef]="ref" [type]="type"></app-episodes-list>

  <div class="xl:grow-0">
    @if (part?.image) {
      <img [src]="part?.image" />
    }
  </div>
</div>

<div class="flex">
  @if (previousPart) {
    <div class="flex-1">
      <a pButton [routerLink]="buildUrl(previousPart.ref)">
        {{"previous" | translate}}: {{previousPart.ref}}
      </a>
    </div>
  }

  @if (nextPart) {
    <div class="flex-1 text-right">
      <a pButton [routerLink]="buildUrl(nextPart.ref)">
        {{"next" | translate}}: {{nextPart.ref}}
      </a>
    </div>
  }
</div>
