<app-navbar [ref]="partRef"></app-navbar>

<div class="flex gap-10">
  <p-table [value]="episodes" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th>{{'ref' | translate}}</th>
        <th>{{'title' | translate}}</th>
        <th>{{'duration' | translate}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-episode>
      <tr>
        <td>{{ episode.ref }}</td>
        <td><a [routerLink]="buildPath(episode.ref)">{{ episode.title }}</a> </td>
        <td>{{ episode.video.duration }}</td>
      </tr>
    </ng-template>
  </p-table>

  <div></div>
</div>
