/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@layer tw-base, primeng, tw-components, tw-utilities;

// Please take note of the order in which these are imported
@import "tailwindcss/base.css" layer(tw-base);
@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/tailwind-light/theme.css";
@import "primeicons/primeicons";
@import "tailwindcss/components.css" layer(tw-components);
@import "tailwindcss/utilities.css" layer(tw-utilities);

body {
  background-color: #C1A26E;
  background-image: url(/images/memory_bg.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #1F3656;
  font-size: 16px;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 1em;
  margin-top: 0;
  border-bottom: 2px solid #9EAAB9;
}

h2 {
  font-size: 1.8em;
  margin-top: 1.5em;
  margin-bottom: 1.5rem;
  padding-bottom: 0.2em;
  font-weight: 700;
  border-bottom: 1px solid #9EAAB9;
}

// a {
//   color: #3272d2;
//   text-decoration: none;
// }

// a:hover {
//   color: #47c7ff;
//   text-decoration: none;
// }

.p-button, .p-button:hover {
  color: white;
}
